Repository opencontainers/runtime-spec, changes with the labels that .github/labeler.yml gives for each.
All labels: platform/linux, platform/vm, platform/windows, platform/solaris, platform/zos

.github/labeler.yml:

platform/linux:
- '**/*-linux*'
- '**/linux-*'

platform/vm:
- '**/*-vm*'
- '**/vm-*'

platform/windows:
- '**/*-windows*'
- '**/windows-*'

platform/solaris:
- '**/*-solaris*'
- '**/solaris-*'

platform/zos:
- '**/*-zos*'
- '**/zos-*'

MAINTAINERS: add Toru Komatsu (utam0k)
  MAINTAINERS
Labels: none

glossary: s/features document/Features structure/g
  features-linux.md
  features.md
  glossary.md
  spec.md
Labels: platform/linux

features: update Example
  features.md
Labels: none

Add I/O Priority Configuration for Process Group in Linux Containers
  config.md
  schema/config-schema.json
  specs-go/config.go
Labels: none

schema: fix definition for ioPriority
  schema/config-schema.json
Labels: none

CODEOWNER: Add Toru Komatsu(@utam0) to sync with MAINTAINERS
  CODEOWNERS
Labels: none

version: v1.1.0-rc.3+dev
  specs-go/version.go
Labels: none

version: release v1.1.0-rc.3
  specs-go/version.go
Labels: none

ChangeLog: Document changes since v1.1.0-rc.2
  ChangeLog
Labels: none

config: Add Hardware description object to the VM configuration
  config-vm.md
  schema/config-vm.json
  schema/defs-vm.json
  schema/defs.json
  specs-go/config.go
Labels: platform/vm

README.md: update chat information
  README.md
Labels: none

Remove outdated meeting.ics
  meeting.ics
Labels: none

features.md: add a note to avoid confusion about annotations
  features.md
Labels: none

ChangeLog: Document changes since v1.1.0-rc.3
  ChangeLog
Labels: none

version: release v1.1.0
  specs-go/version.go
Labels: none

version: release v1.1.0+dev
  specs-go/version.go
Labels: none

ChangeLog: squash v1.1.0-rc.1...v1.1.0
  ChangeLog
Labels: none

schema: add missing `SCMP_ARCH_RISCV64` in test
  schema/test/features/good/runc.json
Labels: none

Add step to update website after a release
  RELEASES.md
Labels: none

specs-go: Respect semver 2.0.0
  specs-go/version.go
Labels: none

config: add idmap and ridmap mount options
  config.md
Labels: none

config: add reference to mount_setattr(2) for idmapped mounts
  config.md
Labels: none

features-linux: Expose idmap information
  features-linux.md
  schema/features-linux.json
  specs-go/features/features.go
Labels: platform/linux

mount: Allow relative mount destinations on Linux
  config.md
Labels: none

fix link to hooks in features
  features.md
Labels: none

Update config-schema.json
  schema/config-schema.json
Labels: none

config: improve bind mount and propagation doc
  config.md
Labels: none

specs-go: sync SCMP_ARCH_* constants with libseccomp main
  config-linux.md
  schema/defs-linux.json
  specs-go/config.go
Labels: platform/linux

specs-go: add missing deprecation comment for Hooks.Prestart
  specs-go/config.go
Labels: none

specs-go: mark LinuxMemory.Kernel as deprecated
  specs-go/config.go
Labels: none

features: add potentiallyUnsafeConfigAnnotations
  features.md
  schema/features-schema.json
  specs-go/features/features.go
Labels: none

config.md: allow empty mappings for [r]idmap
  config.md
Labels: none

Update CODEOWNERS
  CODEOWNERS
Labels: none

clarify kill and delete operation for shared pid namespace container
  runtime.md
Labels: none

clarify user ns mappings and time ns offset configuration
  config-linux.md
Labels: platform/linux

add linux network device to the spec
  specs-go/config.go
Labels: none

version: release v1.2.0
  ChangeLog
  specs-go/version.go
Labels: none

Back to +dev
  specs-go/version.go
Labels: none

Update GitHub Actions packages to resolve warnings in CI
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
Labels: none

Add Go v1.21 and v1.22 to GitHub Actions CI matrix
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
Labels: none
