Repository opencontainers/runtime-spec, changes with the labels that .github/labeler.yml gives for each.
All labels: platform/linux, platform/vm, platform/windows, platform/solaris, platform/zos

.github/labeler.yml:

platform/linux:
- '**/*-linux*'
- '**/linux-*'

platform/vm:
- '**/*-vm*'
- '**/vm-*'

platform/windows:
- '**/*-windows*'
- '**/windows-*'

platform/solaris:
- '**/*-solaris*'
- '**/solaris-*'

platform/zos:
- '**/*-zos*'
- '**/zos-*'

define string representation of IP addresses
  config-linux.md
Labels: platform/linux

Define Linux Network Devices
  config-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

replace netdevices with netDevices
  config-linux.md
  schema/config-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

clarify representation of the mac address
  config-linux.md
Labels: platform/linux

update network device definition
  config-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

remove mention to unmoveable devices
  config-linux.md
Labels: platform/linux

Update config-linux.md
  config-linux.md
Labels: platform/linux

runtime MUST return back the interface in down state
  config-linux.md
Labels: platform/linux

Update config-linux.md
  config-linux.md
Labels: platform/linux

Update specs-go/config.go
  specs-go/config.go
Labels: none

clarify runtime implementation for netdvices
  config-linux.md
Labels: platform/linux

Update config-linux.md
  config-linux.md
Labels: platform/linux

Update config-linux.md
  config-linux.md
Labels: platform/linux

address Albin Kerouanton comments
  config-linux.md
Labels: platform/linux

allow multiple ip addresses per network device
  config-linux.md
  schema/defs-linux.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

specs-go/config: add Landlock LSM support
  config.md
  schema/config-schema.json
  schema/defs.json
  specs-go/config.go
Labels: none

Add support for windows CPU affinity
  config-windows.md
  schema/config-windows.json
  specs-go/config.go
Labels: platform/windows

specs-go/config: add Landlock LSM support
  config.md
  schema/config-schema.json
  schema/defs.json
  specs-go/config.go
Labels: none

fix review idea
  config.md
  schema/config-schema.json
  schema/defs.json
  specs-go/config.go
Labels: none

Define Linux Network Devices
  config-linux.md
  features-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/features-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  schema/test/features/good/runc.json
  specs-go/config.go
  specs-go/features/features.go
Labels: platform/linux

Correct `prestart` hook description in summary
  config.md
Labels: none

Correct `prestart` hook description in summary (#1275)
  config.md
Labels: none

config-linux: update for libseccomp v2.6.0
  config-linux.md
  specs-go/config.go
Labels: platform/linux

Define Linux Network Devices
  config-linux.md
  features-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/features-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  schema/test/features/good/runc.json
  specs-go/config.go
  specs-go/features/features.go
Labels: platform/linux

Fix description of errnoRet in Seccomp
  config-linux.md
Labels: platform/linux

Release v1.2.1
  ChangeLog
  specs-go/version.go
Labels: none

Add back +dev
  specs-go/version.go
Labels: none

linux: clarify pids cgroup settings
  config-linux.md
  specs-go/config.go
Labels: platform/linux

config-linux: Deprecate device access denial
  config-linux.md
Labels: platform/linux

add systemd-nspawn to implementations.md
  implementations.md
Labels: none

ci: add codespell job, fix existing issues
  .codespellrc
  .github/workflows/lint.yml
  ChangeLog
  config.md
Labels: none

ci: bump golangci-lint to v1.64.x
  .github/workflows/build.yml
Labels: none

ci: switch to supported versions of Go
  .github/workflows/build.yml
Labels: none

Add support for Linux memory policy
  config-linux.md
  features-linux.md
  features.md
  schema/config-linux.json
  schema/defs-linux.json
  specs-go/config.go
Labels: platform/linux

Define Linux Network Devices
  config-linux.md
  features-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/features-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  schema/test/features/good/runc.json
  specs-go/config.go
  specs-go/features/features.go
Labels: platform/linux

Define Linux Network Devices (#1271)
  config-linux.md
  features-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/features-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  schema/test/features/good/runc.json
  specs-go/config.go
  specs-go/features/features.go
Labels: platform/linux

config-linux: add schemata field to IntelRdt
  config-linux.md
  schema/config-linux.json
  specs-go/config.go
Labels: platform/linux

Add support for Linux memory policy
  config-linux.md
  features-linux.md
  features.md
  schema/config-linux.json
  schema/defs-linux.json
  specs-go/config.go
Labels: platform/linux

Add support for Linux memory policy
  config-linux.md
  features-linux.md
  features.md
  schema/config-linux.json
  schema/defs-linux.json
  specs-go/config.go
  specs-go/features/features.go
Labels: platform/linux

docs: add missing backticks for code formatting
  config-linux.md
Labels: platform/linux
