Repository opencontainers/runtime-spec, changes with the labels that .github/labeler.yml gives for each.
All labels: platform/linux, platform/vm, platform/windows, platform/solaris, platform/zos

docs: fix typo
  config.md
Labels: none

docs: fix typo (#1285)
  config.md
Labels: none

Add FreeBSD as a platform
  config-freebsd.md
  config.md
  schema/README.md
  schema/config-freebsd.json
  schema/config-schema.json
  schema/defs-freebsd.json
  schema/test/config/bad/freebsd-vnet-disable.json
  schema/test/config/good/freebsd-example.json
  schema/test/config/good/freebsd-minimal.json
  specs-go/config.go
Labels: none

Add linux.intelRdt.schemata to features.md
  features-linux.md
  features.md
Labels: platform/linux

config-linux: add schemata field to IntelRdt (#1230)
  config-linux.md
  features-linux.md
  features.md
  schema/config-linux.json
  specs-go/config.go
Labels: platform/linux

Add FreeBSD as a platform
  config-freebsd.md
  config.md
  schema/README.md
  schema/config-freebsd.json
  schema/config-schema.json
  schema/defs-freebsd.json
  schema/test/config/bad/freebsd-vnet-disable.json
  schema/test/config/good/freebsd-example.json
  schema/test/config/good/freebsd-minimal.json
  specs-go/config.go
Labels: none

config-linux: add intelRdt.enableMonitoring
  config-linux.md
  schema/config-linux.json
  specs-go/config.go
Labels: platform/linux

config-linux: drop intelRdt.enableCMT and intelRdt.enableMBM
  config-linux.md
  schema/config-linux.json
  specs-go/config.go
Labels: platform/linux

principles: fix typo
  principles.md
Labels: none

Add FreeBSD as a platform
  config-freebsd.md
  config.md
  schema/README.md
  schema/config-freebsd.json
  schema/config-schema.json
  schema/defs-freebsd.json
  schema/test/config/bad/freebsd-vnet-disable.json
  schema/test/config/good/freebsd-example.json
  schema/test/config/good/freebsd-minimal.json
  specs-go/config.go
Labels: none

config-linux: add intelRdt.enableMonitoring
  config-linux.md
  schema/config-linux.json
  specs-go/config.go
Labels: platform/linux

Add FreeBSD as a platform
  config-freebsd.md
  config.md
  schema/README.md
  schema/config-freebsd.json
  schema/config-schema.json
  schema/defs-freebsd.json
  schema/defs-linux.json
  schema/defs.json
  schema/test/config/bad/freebsd-vnet-disable.json
  schema/test/config/good/freebsd-example.json
  schema/test/config/good/freebsd-minimal.json
  specs-go/config.go
Labels: platform/linux

config-linux: add intelRdt.enableMonitoring (#1287)
  config-linux.md
  schema/config-linux.json
  specs-go/config.go
Labels: platform/linux

specs-go/features: add linux.intelRdt.schemata field
  specs-go/features/features.go
Labels: none

config-linux: define default clos for linux.intelRdt
  config-linux.md
Labels: platform/linux

Add vTPM specification
  config-linux.md
  config.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/test/config/good/spec-example.json
  specs-go/config.go
Labels: platform/linux

Add additional vTPM fields to the config to be able to run runtime in the container
  config-linux.md
  config.md
  schema/defs-linux.json
  schema/test/config/good/spec-example.json
  specs-go/config.go
Labels: platform/linux

features-linux: expose IntelRdt monitoring support
  features-linux.md
  features.md
  specs-go/features/features.go
Labels: platform/linux

Add FreeBSD as a platform
  config-freebsd.md
  config.md
  schema/README.md
  schema/config-freebsd.json
  schema/config-schema.json
  schema/defs-freebsd.json
  schema/defs-linux.json
  schema/defs.json
  schema/test/config/bad/freebsd-vnet-disable.json
  schema/test/config/good/freebsd-example.json
  schema/test/config/good/freebsd-minimal.json
  specs-go/config.go
Labels: platform/linux

docs: fix and elaborate the nodes field in Linux memory policy
  config-linux.md
Labels: platform/linux

config-linux: clarify the "MB:"-line filtering in RDT.
  config-linux.md
Labels: platform/linux

config-linux: clarify when the RDT sub-directory should be removed.
  config-linux.md
Labels: platform/linux

Add FreeBSD as a platform
  config-freebsd.md
  config.md
  schema/README.md
  schema/config-freebsd.json
  schema/config-schema.json
  schema/defs-freebsd.json
  schema/defs-linux.json
  schema/defs.json
  schema/test/config/bad/freebsd-vnet-disable.json
  schema/test/config/good/freebsd-example.json
  schema/test/config/good/freebsd-minimal.json
  specs-go/config.go
Labels: platform/linux

Introduce CPUAffinity process property instead of execCPUAffinity
  config.md
  schema/config-schema.json
  specs-go/config.go
Labels: none

linux: clarify pids cgroup settings
  config-linux.md
  specs-go/config.go
Labels: platform/linux

schema: fix json
  schema/defs.json
Labels: none

config-linux,schema: fix FileMode description
  config-linux.md
  schema/defs-linux.json
Labels: platform/linux

schema/defs-linux.json: fix max for FileMode
  schema/defs-linux.json
Labels: platform/linux

ci: add codespell job, fix existing issues
  .codespellrc
  .github/workflows/lint.yml
  ChangeLog
  config-vm.md
  specs-go/config.go
Labels: platform/vm

ci: bump golangci-lint to v2.5
  .github/workflows/build.yml
Labels: none

runc: support multi-container delete and update runtime-spec
  runtime.md
Labels: none

Add FreeBSD as a platform
  config-freebsd.md
  config.md
  schema/README.md
  schema/config-freebsd.json
  schema/config-schema.json
  schema/defs-freebsd.json
  schema/defs-linux.json
  schema/defs.json
  schema/test/config/bad/freebsd-vnet-disable.json
  schema/test/config/good/freebsd-example.json
  schema/test/config/good/freebsd-minimal.json
  specs-go/config.go
Labels: platform/linux

ci: use oldstable and stable Go versions
  .github/workflows/build.yml
Labels: none

version: release v1.3.0
  ChangeLog
  specs-go/version.go
Labels: none

version: v1.3.0+dev
  specs-go/version.go
Labels: none

Add minimum supported Go version to CI
  .github/workflows/build.yml
Labels: none

Add explicit `GOTOOLCHAIN=local` in CI
  .github/workflows/build.yml
Labels: none

Add FreeBSD as a platform
  config-freebsd.md
  config.md
  schema/README.md
  schema/config-freebsd.json
  schema/config-schema.json
  schema/defs-freebsd.json
  schema/defs-linux.json
  schema/defs.json
  schema/test/config/bad/freebsd-vnet-disable.json
  schema/test/config/good/freebsd-example.json
  schema/test/config/good/freebsd-minimal.json
  specs-go/config.go
Labels: platform/linux

Add minimum supported Go version to CI (#1303)
  .github/workflows/build.yml
Labels: none

version: release v1.3.0
  ChangeLog
  specs-go/version.go
Labels: none

.github/labeler.yml:

platform/linux:
- '**/*-linux*'
- '**/linux-*'

platform/vm:
- '**/*-vm*'
- '**/vm-*'

platform/windows:
- '**/*-windows*'
- '**/windows-*'

platform/solaris:
- '**/*-solaris*'
- '**/solaris-*'

platform/zos:
- '**/*-zos*'
- '**/zos-*'
