Repository opencontainers/runtime-spec, changes with the labels that .github/labeler.yml gives for each.
All labels: platform/linux, platform/vm, platform/windows, platform/solaris, platform/zos

.github/labeler.yml:

platform/linux:
- '**/*-linux*'
- '**/linux-*'

platform/vm:
- '**/*-vm*'
- '**/vm-*'

platform/windows:
- '**/*-windows*'
- '**/windows-*'

platform/solaris:
- '**/*-solaris*'
- '**/solaris-*'

platform/zos:
- '**/*-zos*'
- '**/zos-*'

Update golangci-lint to v1.56.1 in CI
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
Labels: none

specs-go/config: add Landlock LSM support
  config.md
  schema/config-schema.json
  schema/defs.json
  specs-go/config.go
Labels: none

MAINTAINERS: move vbatts to EMERITUS
  EMERITUS.md
  MAINTAINERS
Labels: none

CODEOWNERS: remove vbatts
  CODEOWNERS
Labels: none

Update CODEOWNERS
  CODEOWNERS
Labels: none

config: add annotation for exec isolated CPU affinity
  config.md
Labels: none

chore: format JSON file `make -C schema fmt`
  schema/config-schema.json
  schema/defs-zos.json
  schema/features-linux.json
  schema/features-schema.json
  schema/test/config/good/spec-example.json
  schema/test/config/good/zos-minimal.json
  schema/test/features/good/runc.json
Labels: platform/linux, platform/zos

ci: remove redundunt actions
  .github/workflows/build-pr.yml
  .github/workflows/build.yml
Labels: none

config-linux: describe the format of cpus and mems
  config-linux.md
Labels: platform/linux

Add CPU affinity to executed processes
  config.md
  schema/config-schema.json
  specs-go/config.go
Labels: none

ci: Add a github actions workflow for lint
  .github/workflows/lint.yml
Labels: none

doc:fix poststart doc
  config.md
Labels: none

config: simplify final CPU affinity rule
  config.md
Labels: none

runtime: fail when a poststart hook fails
  runtime.md
Labels: none

Adding vTPM specification
  config-linux.md
  config.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/test/config/good/spec-example.json
  specs-go/config.go
Labels: platform/linux

runtime: fail when a poststop hook fails
  config.md
  runtime.md
Labels: none

specs-go/config: add Landlock LSM support
  config.md
  schema/config-schema.json
  schema/defs.json
  specs-go/config.go
Labels: none

doc: fix the invalid hyperlink naming-a-volume
  config.md
Labels: none

Add support for windows CPU affinity
  config-windows.md
  specs-go/config.go
Labels: platform/windows

update http links to https
  README.md
  config-linux.md
  config-solaris.md
  config.md
  glossary.md
  runtime-linux.md
  schema/README.md
  spec.md
  specs-go/config.go
Labels: platform/linux, platform/solaris

Define Linux Network Devices
  config-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

define string representation of IP addresses
  config-linux.md
Labels: platform/linux

add feature for network devices
  features-linux.md
  schema/features-linux.json
  schema/test/features/good/runc.json
  specs-go/features/features.go
Labels: platform/linux

replace netdevices with netDevices
  config-linux.md
  schema/config-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

define string representation of IP addresses
  config-linux.md
Labels: platform/linux

allow multiple ip addresses per network device
  config-linux.md
  schema/defs-linux.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

Define Linux Network Devices
  config-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

update network device definition
  config-linux.md
  schema/config-linux.json
  schema/defs-linux.json
  schema/test/config/bad/linux-netdevice.json
  schema/test/config/good/linux-netdevice.json
  specs-go/config.go
Labels: platform/linux

clarify runtime implementation for netdvices
  config-linux.md
Labels: platform/linux

update json for Addresses type
  specs-go/config.go
Labels: none

Update config-linux.md
  config-linux.md
Labels: platform/linux

address Albin Kerouanton comments
  config-linux.md
Labels: platform/linux

remove mention to unmoveable devices
  config-linux.md
Labels: platform/linux

Add support for windows CPU affinity
  config-windows.md
  specs-go/config.go
Labels: platform/windows

specs-go: sync SCMP_ARCH_* constants with libseccomp main (#1229)
  config-linux.md
  schema/defs-linux.json
  specs-go/config.go
Labels: platform/linux

clarify representation of the mac address
  config-linux.md
Labels: platform/linux

ci: Add a github actions workflow for lint
  .github/workflows/lint.yml
  schema/config-schema.json
Labels: none

update json for Addresses type
  specs-go/config.go
Labels: none

Update config-linux.md
  config-linux.md
Labels: platform/linux

add feature for network devices
  features-linux.md
  schema/features-linux.json
  schema/test/features/good/runc.json
  specs-go/features/features.go
Labels: platform/linux
